.ProductCard {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 400px;
  height: 600px;
  border-radius: 4px;
  overflow: hidden;
}

.ProductCard:hover {
  transform: translateY(-5px);
}

.ProductImageContainer {
  width: 100%;
  height: 350px;
  background-color: #f5f5f5;
  display: flex;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.ProductImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ProductInfo {
  padding: 16px;
}

.ProductInfo h3 {
  font-size: 28px;
  font-weight: 500;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;

  margin-bottom: 8px;
}

.ProductPrice {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
