.header {
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #866142 4px solid;
    position: relative; 
  }
  .MainTitle {
    font-family: 'Monocraft Nerd Font', serif;
    font-size: 80px;
    color: #866142;
    font-weight: 400;
    text-align: center;
    line-height: 80px;
    font-style: normal;
  }
.UpperCase{
    text-transform: uppercase;
}

.Centered{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
    justify-content: center;
}
.CartIcon {
    position: absolute;
    right: 20px;
    max-width: 60px;
    max-height: 60px;

  }
  .CartImage {
    width: 60px;  
    height: 60px;
    
    object-fit: contain; 
  }