.FeaturedProductsSection {
    background-color: #6d1e26;
    padding: 60px 80px;
    text-align: center;
  }
  
  .FeaturedTitle {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .ProductGrid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }