.SingleProductDetailContainer {
    background-color: #f8f7f4;
    min-height: 100vh;
    padding: 40px 60px;
    font-family: "Helvetica", sans-serif;
    color: black;
    
  }
  
  .BackButton {
    background: none;
    border: none;
    color: #7a3e2b;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 30px;
    transition: color 0.2s ease;
  }
  
  .BackButton:hover {
    color: #4b2a1f;
  }
  .ImgAndBack{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
  }
  .SingleProductDetailContent {
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: center;
    gap: 60px;
  }
  
  .SingleProductImageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .SingleProductDetailImage {
    max-width: 450px;
    object-fit: cover;
    max-height: 500px;
  }
  
  .SingleProductInfoContainer {
    max-width: 620px;
  }
  
  .SingleProductCategory {
    font-size: 15px;
    color: #6b6b6b;
    margin-bottom: 8px;
  }
  
  .SingleProductTitle {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .SingleProduct {
    font-size: 18px;
    color: #2b2b2b;
    margin-bottom: 20px;
  }
  
  .AddToCartButton {
    background-color: black;
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 28px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 30px;
  }
  
  .AddToCartButton:hover {
    background-color: gray;
    border: #2b2b2b 2px solid;
  }
  
  .DescriptionTitle {
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .SingleProductDescription {
    font-size: 15px;
    line-height: 1.6;
    color: #3f3f3f;
  }
  